.link{
    text-decoration: none;
    color : green
}
.link:hover{
     transform: scale(1.1);
}

hover:link{
    color:aqua
    
}

.home-footer{
    height: 450px;
    background-color: black;
    color:white
}